{% extends "base.html" %}

{% block content %}
  <h1>Account Login</h1>

  <h2>Primary Login</h2>
  <p>This will always work, if the user doesn't already exist it will be created.</p>
  <p><a class="btn btn-primary" href="{% url 'social:begin' 'github' %}">Login with GitHub</a></p>

  <h2>Secondary Login</h2>
  <p>These will only work if the are already associated with a user</p>
  <p><a class="btn btn-primary" href="{% url 'social:begin' 'gitlab' %}">Login with GitLab</a></p>
  <p><a class="btn btn-primary" href="{% url 'social:begin' 'code' %}">Login with Code</a></p>

<h2>Username &amp; Password</h2>
<p>Currently still available but should be removed</p>
<p>
 <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
</p>
{% endblock %}