{% extends "base.html" %}

{% block content %}
  <h1>Members Test</h1>

  <h2>Changes</h2>
  <h3>Add</h3>
  {% for m in to_add %}
    <p>{{m}}</p>
  {% endfor %}
  <h3>Remove</h3>
  {% for m in to_remove %}
    <p>{{m}}</p>
  {% endfor %}

  <h2>Gitlab</h2>
  {% for m in gl %}
    <p>{{m}}</p>
  {% endfor %}

  <h1>Github</h2>
  {% for m in gh %}
    <p>{{m}}</p>
  {% endfor %}

{% endblock %}
