{% extends "base.html" %}

{% block content %}
  <h1>Account Settings</h1>

  <p>{{username}}</p>
  <p><a class="btn btn-secondary" href="{% url 'logout' %}">Logout</a></p>

  <h2>Accounts</h2>

  <h3>GitHub</h3>
  {% if github_login %}
    <p>Connected as <a href="https://github.com/{{ github_login }}/" target="_blank">{{ github_login }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'github' %}">
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit" class="button">Disconnect from GitHub</button>
      </form>
    {% else %}
      <button class="btn btn-secondary" type="button" class="button" disabled>Disconnect from GitHub</button>
    {% endif %}
  {% else %}
    <a class="btn btn-primary" href="{% url 'social:begin' 'github' %}" class="button">Connect to GitHub</a>
  {% endif %}

  <h3>GitLab</h3>
  {% if gitlab_login %}
    <p>Connected as <a href="https://gitlab.com/{{ gitlab_login }}/" target="_blank">{{ gitlab_login }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'gitlab' %}">
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit" class="button">Disconnect from GitLab</button>
      </form>
    {% else %}
      <button class="btn btn-secondary" type="button" class="button" disabled>Disconnect from GitLab</button>
    {% endif %}
  {% else %}
    <a class="btn btn-primary" href="{% url 'social:begin' 'gitlab' %}" class="button">Connect to GitLab</a>
  {% endif %}

  <h3>code.siemens.com</h3>
  {% if code_login %}
    <p>Connected as <a href="https://code.siemens.com/{{ code_login.extra_data.login }}/" target="_blank">{{ code_login.extra_data.login }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'code' %}">
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit" class="button">Disconnect from code.siemens.com</button>
      </form>
    {% else %}
      <button class="btn btn-secondary" type="button" class="button" disabled>Disconnect from code.siemens.com</button>
    {% endif %}
  {% else %}
    <a class="btn btn-primary" href="{% url 'social:begin' 'code' %}" class="button">Connect to code.siemens.com</a>
  {% endif %}

{% endblock %}