{% extends "base.html" %}

{% block content %}
  <h1>Syncs</h1>

  <ul>
  {% for sync in syncs %}
    <li><a href="{% url 'sync-detail' sync.id %}">{{sync}}</a></li>
  {% endfor %}
  </ul>

{% endblock %}
