{% extends "base.html" %}

{% block content %}
  <h1>Sync Detail</h1>

  {{sync}}

  <h2>To add</h2>

  <ul>
  {% for user in to_add %}
    <li>{{user}}</li>
  {% endfor %}
  </ul>

  <h2>To remove</h2>

  <ul>
  {% for user in to_remove %}
    <li>{{user}}</li>
  {% endfor %}
  </ul>

  <h2>Common</h2>

  <ul>
  {% for user in common %}
    <li>{{user}}</li>
  {% endfor %}
  </ul>

  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Execute">
  </form

{% endblock %}
